.connect{
    width:100%;
    height: 100%;
    display: flex;
    align-items:center;
    padding: 0 40px;
    padding-top: 4rem;
    justify-content: flex-start;
    flex-direction: column;
    background: #1A1A1A;
    font-family: 'Josefin Sans', sans-serif;
}
.connect h1 {
    font-weight: bold;
    letter-spacing: 2px;
}
.connect-form{
    margin-top: 5rem;
    width: 833px;
    padding: 30px;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 50px #0000009E;
    margin-bottom: 30px;
}
form{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form input ,form textarea{
    font-size: 18px;
    width: 100%;
    padding: 17px 20px;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    outline: none;
    margin: 10px 0;
    background: transparent;
    font-family: 'Josefin Sans', sans-serif;
    color: #E2E2E2;
}

form textarea {
    height: 150px;
}
form button{
    background: #fff;
    border: 0.5px solid #707070;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    padding: 20px 30px;
    border-radius: 999px;
    margin-top: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.i-connect{
    font-size: 32px;
    margin:0 20px;
}

@media(max-width:945px){
    .connect-form{
        width: 95%;
    }
}
@media(max-width:715px){
    .connect{
        padding: 0px;
    }
    .connect-form{
        padding:30px 10px;
    }
    form{
        width: 90%;
    }
}

.dpclass {
    background-color: #1a1a1a;
}