.design{
    overflow-x: hidden;
    width:100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
    background: #1A1A1A;
    font-family: 'Josefin Sans', sans-serif;
}
.desgin-view{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.design-tiles{
    display: flex;
    align-items: center;
    justify-content: center;
}
.design-tiles h1{
    margin: 0 20px;
    cursor: pointer;
    font-size: 1.4rem;
    transition: 0.3s ease;
}
.design-tiles h1.active{
    font-size: 2.4rem;
    transition: 0.3s ease;
}
.active-design-area{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    padding-bottom: 0px;
}
.line{
    width: 70px;
    height: 3px;
    margin: 0 20px;
    background: #000;
    transition: 0.3s ease;
}
.line.active{
    background: #fff;
    transition: 0.3s ease;
}
.circle-view{
    width: 125%;
    height: 800px;
    margin-top: 3rem;
    position: relative;
    background: url("../assets//circle.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.main-wrapper {
    position: relative;
    width: 100%;
    height: 512px;
}

.wrapper{
    position: absolute;
    top: calc(75% - 50px);
    left: calc(50% - 50px);
  }
  .item{
    transition: .5s;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #4b134f;
    display: inline-block;
    margin: 0;
    font-size: 3em;
    font-family: sans-serif;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .controls{
    position: absolute;
    top: 50%;
    width: 99%;
    text-align: center;
  }
  .left, .right{
    display: inline-block;
    color: #fff;
    font-size: 3em;
    cursor: pointer;
    width: 20px;
    right: 20px;
  }
  
  .left{
    margin-right: 10px;
  }
  .right{
    margin-left: 10px;
  }
  
  /* skipable part */
  .link-list{
    position: absolute;
    right: 20px;
  }
  .link-list>p{
    color: #fff;
    font-family: sans-serif;
  }
  .link-list>a{
    text-decoration:none;
    color: #fff  ;
    font-family: sans-serif;
  }
  .coffee{
    width: 96%;
    position: absolute;
    bottom: 0px;
    text-align: right;
    color: #fff;
    font-family: sans-serif;
  }
  .ptr{
    display: flex;
    justify-content: center;
    align-items:center;
    color: #c94b4b;
    background: #4b134f;
    position: absolute;
    width: 220px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #b74b4b;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 700;
    bottom: 50px;
    right: 20px;
    transition: .3s;
  }

.logo-design{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
}
.socail-design{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 15%;
    right:27%;   
}
.progresive-desig{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 11%;
    right:27%;   
}
.logo-design.website{
    top:6%;
}
.socail-design h3{
    margin-left: 30px;
}
.brand-design{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 13%;
    left:26%;    
}
.circle-view h3{
    font-size: 1rem;
}
.connect-area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    
}
.connect-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32%;
    text-align: center;
    font-size: 18px;
}
.connect-area button{
    background: #fff;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    outline: none;
    padding: 20px 30px;
    border-radius: 32px;
    margin: 20px 0;
    font-weight: 700;
}
.connect-i .icon{
    margin: 0 20px;
}