
/* body{
    overflow: hidden;
} */
.main-text-area{
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
.main-text-area h1{
    margin: 0 10px;
}

.flying-text-area span ,.flying-text-area-2 span , .flying-text-area-3 span{
    position: relative;
    opacity: 1;
    animation: flying 5s ease-in-out forwards;
}
.up{
    position: fixed;
    top: -300px;
    left: 50%;
    transform: translate(-50%);
    transition: 1s ease;
}
.down{
    top: 80px;
    left: 50%;
    transition: 1s ease;
    transform: translate(-50%);
}
.logo{
    cursor: pointer;
}
@keyframes flying {
    to{
        top: 0;
        left: 0;
        opacity: 1;
    }
}