
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
.main-page{
    background: url(../assets/images/banner2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    padding-bottom:30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 30px 30px 50px #00000080;
}
.link{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%);
}
.main-page p{
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;   
    letter-spacing: 2px;
}
.banner-title{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: flex-start;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
.banner-title > h1 {
    font-weight: 100;
    letter-spacing: 10px;
    text-shadow: 0px 2px 0px black;
    -webkit-user-select: none;
}
.socail-icons{
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1000;
}
.socail-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-right:30px;
}
.icon{
    font-size: 26px;
    margin: 10px 0;
}
.opp{
    display: flex;
    background: #1A1A1A;
    color:#fff;
    padding: 5rem 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif; 
}
.grid{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}
.grid > h1 {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 600;
}
.grid-area{
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.gird-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.grid-area .gird-item:nth-child(even){
    flex-direction: row-reverse;
}
.grid-img{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-img > img{
    width: 100%;
    height: 100%;
}
.grid-text{
    background: #222222;
    padding: 20px 40px;
    color: #fff;
    width:50%;
    height: 450px;
    box-shadow: 20px 20px 50px #0000009E;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    line-height: 2;
}
.flexxited-highlight {
    color: #fff;
    font-weight: bolder;
}
.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10rem;
}
.services{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1A1A1A;
    font-family: 'Josefin Sans', sans-serif; 
    padding-top: 10rem;
}
.services-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 361px;
    height: 450px;
    box-shadow: 20px 20px 50px #00000080;
    background: #222222;
    margin: 0 30px;
}
.services-card .card:first-child{
    margin-top: -40px;
}
.services-card .card:nth-child(2){
    margin-top:40px;
}
.card-text{
    margin-top: 40px;
}




 .portfolio{
    width: 100%;
    padding-top: 6rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background: #1A1A1A;
    font-family: 'Josefin Sans', sans-serif;
}

.portfolio .portfolio-items {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.portfolio  .portfolio-items .portfolio-item {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 50px 0px;
    background: #2A2A2A;
}
.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.image-1 {
    width: 100%;
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;

}
.image-2 {
    height: 198px;
}.image-3 {
    height: 198px;
}

.des {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}
.des > h1 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.des > img {
    width: 100px;
    margin-right: 40px;
}

.portfolio  .portfolio-items  .reverse {
    align-self: end;
}


/*.profolio-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.protfilo-cards ,.protfilo-cards-2{
    width: 85%;
  display: flex;
   align-items: center;
  justify-content:center;
  margin-top: 6rem;
}
.protfilo-cards.reverse{
    display: flex;
    width:85%;
    align-items: center;
    justify-content:center;
    margin-top: 0;
    flex-direction: row-reverse;
}

.protfilo-cards-2{
    align-items: flex-end;
    justify-content:center;
    margin-top: 0;
}
.protfilo-cards-2 .portfolio-card{
    width: 592px;
    height: 428px; 
    position: relative;
}
.protfilo-cards-2 .portfolio-card img{
    width: 592px;
    height: 428px;
}
.portfolio-card{
    position: relative;
}
.protfilo-cards-2 .portfolio-card .por-text{
width:83%;
left: 5.8%;
}
.por-text{
    position: absolute;
    width: 86.5%;
    display: flex;
    top: 9.4%;
    left: 5%;
    padding:20px 30px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg,#000000E3,#0000007D,#00000000);
}

.protfilo-cards .portfolio-card:first-child{
    width: 800px;
    height:428px;
}
.protfilo-cards .portfolio-card:nth-child(2){
    width: 370px;
}
.protfilo-cards .portfolio-card:nth-child(2) .por-text{
left: 9%;
}

.protfilo-cards .portfolio-card img:first-child {
   width: 800px;
   height:428px;
}
.protfilo-cards .portfolio-card:nth-child(2) img{
    width: 420px;
} */
.kurta .por-text{
left: 9.3% !important;
width: 87.8%;
top: 9.2%;
}
.eye{
cursor: pointer;
}
.touch{
    width: 100%;
    padding-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1A1A1A;
}
.touch-block{
    background-color: #1A1A1A;
    margin: 7rem 0;
    box-shadow: 0px 20px 50px #000000BD;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: 'Josefin Sans', sans-serif;
    flex-direction: column;
}
.touch-block h3{
    font-size: 1.3rem;
    padding: 20px 0;
}
.touch-block p{
    width: 90%;
    font-size: 18px;
    line-height: 1.5;;
    text-align: center;
    padding: 20px;
    padding-top: 10px;
}
.touch-block button{
    background: #fff;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    outline: none;
    padding: 25px 50px;
    border-radius: 9999px;
    margin: 20px 0;
    font-weight: 900;
    letter-spacing: 2px;
    box-shadow: 0px 4px 20px 0px #000000BD;
    cursor: pointer;

}
.touch-block button:hover{
    transform: scale(1.05);
}

.clients{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #1A1A1A;
    padding-top: 11rem;
    font-family: 'Josefin Sans', sans-serif;

}
.client-area{
    margin-top:5rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}
.client-area.process{
    width: 90%;
}
.country-card{
    width: 278px;
    height: 278px;
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 50px #0000009E;
    background: #222222;
    color: #fff;
}
/* 
.country-card > img {
   
} */

.country-card > h3 {
    margin-top: 20px;
}

.process-card{
    width: 247px;
height: 338px;
margin-left: 20px;
margin-right: 20px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
box-shadow: 20px 20px 50px #0000009E;
}
.process-card h3{
    padding: 20px 0;
}
.process-card img{
 width: 120px;
 margin: 20px 0;
}
.process-card:nth-child(even){
    margin-top: 30px;
}
.process-card:nth-child(odd){
    margin-top: -30px;
}
.process{
    padding-bottom: 4rem;
}
.card-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.margin-right{
    margin-right: -20px;
}
@media(max-width:1270px){
    .protfilo-cards .portfolio-card:nth-child(2){
        width: 300px;
    }
    .protfilo-cards .portfolio-card:nth-child(2) img{
        width: 300px;
    }
}

@media(max-width:1100px){
    .grid{
        width: 90%;
    }
}
@media(max-width:838px){
    .grid-text{
        height:300px;
        padding: 10px;
    }
    .grid-text p{
        font-size: 14px;
        display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 7;
   overflow: hidden;
    }
    .grid-img{
        height: 300px;
    }
    .grid-img img{
        height: 90%;
    }
    .portfolio{
        display: none;
    }
}

@media(max-width:574px){

    .card{
        height: 285px;
        margin: 0 10px;
    }
    .card-2 .card-img img{
        height: 100px;
        width: 100px;
    }
    .banner-title{
        top: 66%;
    }
    .grid h1{
        text-align: center;
    }
    .grid-text{
        height:250px;
    }
    .grid-img{
        height: 250px;
    }
    .banner-title h1{
        font-size: 22px;
         }
    
}
@media(max-width:477px){
    .grid-text{
        height:200px;
    }
    .grid-img{
        height: 200px;
    }
    .grid-img.comp img{
        height: 80%;
        width: 110%;
    }
    .country-card{
        height: 150px;
        width: 40%;
        margin: 10px;
    }
    .client-area{
        width: 100%;
    }
    .client-area.process .process-card{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .client-area.process .process-card:nth-child(even){
        margin-left: 40px;
        margin-top: 0;
    }
    .client-area.process .process-card:nth-child(odd){
        margin-left: -40px;
        margin-top: 0px;
    }
}
@media(max-width:422px){
    .grid-text{
        height:150px;
    }
    .grid-img{
        height: 150px;
    }
    .grid-text p{
        -webkit-line-clamp: 4;
        font-size: 12px;
    }
    .grid h1{
        font-size: 22px;
    }
    .banner-title{
        top: 63%;
    }
    .banner-title h1{
        font-size: 18px;
    }
    .touch-block h3{
      text-align: center;
      font-size: 16px;
    }
}
@media(max-width:404px){
    .card-2 .card-text h3{
        font-size: 13px;
    }
    .card{
        height: 232px;
        
    }
    .card-2 .card-img img{
        height: 66px;
        width: 66px;
    }
}