.slider-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
}
.img-slider{
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
opacity: 0;
transition: 1s ease;
transform: scale(0.8);
height: 500px;
}
.img-slider img{
    width: 100%;
    height: 100%;
}
.i-con{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.arrow-icon{
    font-size: 8rem;
    color: rgb(63, 62, 62);
}
.arrow-icon:hover{
    color: rgb(10, 10, 10);
}
.img-slider.active{
opacity: 1;
transition: 1s ease;
transform: scale(1);
}
.portfolio-page{
    height: 100%;
    padding-bottom:50px;
}